<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head',{title : 'Agregar producto'}) %> 

<body class="bg-light">
  <%- include('../partials/header') %> 

    <main class="container">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8 mt-5 mx-auto">
                <div class="card">
                    <div class="card-header text-light bg-dark">
                        <h4>Agregar producto</h4>
                    </div>
                    <div class="card-body">
                        <form class="row" method="POST" enctype="multipart/form-data">
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="name" placeholder="Nombre del producto" name="name">
                                        <label for="name">Nombre del producto</label>
                                      </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <textarea style="resize: none; height: 100px;" class="form-control" placeholder="Descripción del producto" id="floatingTextarea" name="description"></textarea>
                                        <label for="floatingTextarea">Descripción</label>
                                      </div>
                                </div>
                               <div class="col-12 col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="number" class="form-control" id="price" name="price">
                                    <label for="price">Precio</label>
                                  </div>
                               </div>
                               <div class="col-12 col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="number" class="form-control" id="discount" name="discount">
                                    <label for="discount">Descuento</label>
                                  </div>
                               </div>
                               <div class="col-12 col-md-6">
                                <div class="form-floating">
                                    <select class="form-select" id="category" aria-label="Floating label select example" name="category">
                                      <option value="" selected hidden>Selecciona la categoría</option>
                                      <% categories.forEach(category => { %>
                                       <option value="<%= category %>"><%= firstLetter(category) %></option>
                                      <% }) %>
                                    </select>
                                    <label for="category">Categoría</label>
                                  </div>
                               </div>
                               <div class="col-12 col-md-6">
                                <div class="mb-3">
                                    <label for="image" class="btn btn-outline-secondary w-100 mt-2">Subir imagen</label>
                                    <input hidden class="form-control" type="file" id="image" name="image" multiple>
                                  </div>
                               </div>
                                <div class="col-12 mt-5">
                                    <button type="submit" class="btn btn-outline-dark w-100">Guardar</button>
                                </div>
                           
                          </form>
                    </div>
                   
                </div>
            </div>
           
        </div>
    </main>

    <%- include('../partials/scripts') %> 

</body>
</html>